1. Create a function that takes two arguments and returns their sum

In [10]:
def sum(a, b):
    return a + b

In [11]:
print(sum(1,2))

3

2. Create a function that takes two strings and concatenates them

In [12]:
print (sum("string1", "string2"))

string1string2

3. Create a function that takes a number and returns all the numbers from 0 to that number

In [13]:
def numbers(number):
  list = []
  for i in range(number):
    list.append(i)
  return list

In [14]:
print(numbers(8))

[0, 1, 2, 3, 4, 5, 6, 7]